* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100dvh;
	display: grid;
	grid-template-rows: 6em auto 3em;
	background-color: #ECEFF1;
}

h1 {
	color: #9146FF;
	font-size: 3em;
	cursor: pointer;
}

.blue {
	color: #0CB7F6;
}

header, footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	background-color: #FAFAFA;
	text-align: center;
}

footer {
	background-color: #000;
	color: #FFF;
	text-align: center;
}